numpy==1.26.4
pandas==2.2.3
graphein==1.7.7
jupyter==1.1.1
notebook==7.2.2
torch==2.2.2
torchvision==0.17.2
torch-geometric==2.6.1
xgboost==2.1.1
transformers==4.45.1
accelerate==0.34.2
pyarrow==17.0.0
py3Dmol==2.4.0
optuna==4.1.0
pyyaml==6.0.2